<div class="main-custom container">

  <h1 class="text-cus" >Contact Us</h1>

  <div class="card button-custom-name col-sm">
    <span class="p-float-label">
      <input pInputText id="username" [(ngModel)]="nameUser" class="input-cus" />
      <label htmlFor="username ">Username</label>
    </span>
  </div>

  <div class="card button-custom-mail col-sm">
    <span class="p-float-label">
      <input pInputText id="e-mail" [(ngModel)]="mailUser" class="input-cus-2" />
      <label htmlFor="e-mail">E-mail</label>
    </span>
  </div>

  <div class="card button-custom-msg col-sm">
    <span class="p-float-label">
      <input pInputText id="massage" [(ngModel)]="massage" class="input-cus-3" />
      <label htmlFor="massage" class="text-cus-label">Massage</label>
    </span>
  </div>

  <div class="card flex justify-content-center box col-sm">
    <p-button label="Submit" icon="pi pi-check" iconPos="right"
      styleClass="p-button-outlined p-button-warning p-button-rounded "></p-button>
  </div>
</div>
