<!-- <div class="container" style="background-color: #FACA72;">
  <div class="flex flex-wrap" style="background-color: #5bc415;">
    <div class="col-12 md:col-6 lg:col-3 p-6 flex text-center text-md-left" style="background-color: #6c2ce1;">
      <section>
        <span class="block text-4xl md:text-6xl font-bold text-center text-md-left" style="margin-top: 30%; color: #FACA72;">
          Welcome To My Stores
        </span>
        <p class="mt-4 mb-6 line-height-3 text-center text-md-left">
          You have a beautiful calendar to decorate your home. or give it to someone special.
        </p>
        <div class="card d-flex justify-content-center text-center text-md-left" style="background-color: #ea3acd;">
          <p-button styleClass="p-button-outlined p-button-warning p-button-rounded" routerLink="/stores">
            <img alt="logo" src="../../../../assets/images/logo_new.png" style="width: 3.5rem" />
            <span class="ml-2 md:ml-3 font-bold custom-text-style">Shop</span>
          </p-button>
        </div>
      </section>
    </div>

    <div class="col-12 md:col-6 lg:col-3 flex overflow-hidden img-right" style="background-color: #14b775;">
      <img src="../../../../assets/images/Have a nice day2.png" routerLink="/stores" alt="Image" class="md:ml-auto block md:h-full w-full">
    </div>

  </div>
</div>
 -->

<div class="p-3 " style="  background-color: rgb(249, 27, 34);">
  <div class="grid" style=" background-color: rgb(113, 233, 66);">
    <div class="col-6 md:col-6 lg:col-6 " style="background-color: aqua; justify-content: center; text-align: center;">
      <p style="font-size: 3.5vw">Welcome To My Stores</p>
      <p style="font-size: 1.8vw">You have a beautiful calendar to decorate your home. or give it to someone special.</p>
      <p-button  routerLink="/stores"></p-button>
    </div>
    <div class="col-6 md:col-6 lg:col-6 " style="background-color: blueviolet; justify-content: center; display: flex;">
        <img src="../../../../assets/images/Have a nice day2.png" routerLink="/stores" alt="Image"
        class="" style="object-fit: cover; width: 88%; height: 100%;">
    </div>
  </div>
</div>
