<div class="p-3 " >
  <div class="md:grid xl:flex  " >

    <div class="col-12 md:col-6 lg:col-6 " style="  justify-content: center; text-align: center;">
      <p style="font-size: 3.5vw; margin-top: 20%; color: #DA9E08;">Welcome To My Stores</p>
      <p style="font-size: 1.8vw; ">You have a beautiful calendar to decorate your home. or give it to someone special.</p>
      <p-button label="Shopping" icon="pi pi-shopping-bag" styleClass="p-button-warning margin-top: 1rem" routerLink="/stores"></p-button>
    </div>

    <div class="col-12 md:col-6 lg:col-6 " style=" justify-content: center; display: flex;">
        <img src="../../../../assets/images/Have a nice day2.png" routerLink="/stores" alt="Image"
        class="" style="object-fit: cover; width: 88%; height: 100%;">
    </div>

  </div>
</div>
