
.test-cus-1{
  font-size: 3.5vw;
  margin-top: 20%;
  color: #DA9E08;
}

.test-cus-2{
  font-size: 1.8vw;
}

@media (max-width: 768px) {
  .test-cus-1{
    font-size: 8vw;
    margin-top: 4%;
    color: #DA9E08;
  }
  .test-cus-2{
    font-size: 3vw;
  }

}
