@media (max-width: 600px){
  h1{
    font-size: 6.5vw;
  }
  .container{
    margin: 0 auto;
    padding: 0 auto;
    align-content: center;
    text-align: center;
    table-layout: auto;
    justify-content: center;
  }

  .container2 {
    margin: 0 auto;
    padding: 0 auto;
    align-content: center;
    text-align: center;
    table-layout: auto;
    justify-content: center;
  }

  .divst {
    margin: 0 auto;
    padding: 0 auto;
    align-items: center;
    text-align: center;
    text-rendering: auto;
  }

  .form-group{
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
    font-size: 5vw;
  }
  .form-control {
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
    font-size: 5vw;
    margin-left: 5%;
  }

  .thead-cus {
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
    font-size: 1.8vw;
  }

  .img {
    width: 20px;
    height: 20px;
  }

  .table {
    margin: 0 auto;
    padding: 0 auto;
    align-content: center;
    text-align: center;
    text-rendering: auto;
  }

}

@media (min-width: 1200px){
  .container{
    margin: 0 auto;
    padding: 0 auto;
    align-content: center;
    text-align: center;
    table-layout: auto;
    justify-content: center;
  }

  .container2 {
    margin: 0 auto;
    padding: 0 auto;
    align-content: center;
    text-align: center;
    table-layout: auto;
    justify-content: center;
  }


  .divst {
    margin: 0 auto;
    padding: 0 auto;
    align-items: center;
    text-align: center;
    text-rendering: auto;
  }

  .form-group{
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
    font-size: 1.8vw;
  }
  .form-control {
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
    font-size: 1.5vw;
    margin-left: 5%;
  }
}



