form-group {
  font-size: 1.6rem;
  max-width: 3.75;
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
}

form {
  font-size: 1.6rem;
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
}

// label {
//   font-size: 1.6rem;
//   max-width: 3.75;
//   margin: 0 auto;
//   padding: 0 auto;
//   text-align: center;
//   table-layout: auto;
// }

// input {
//   font-size: 1.6rem;
//   margin: 0 auto;
//   padding: 0 auto;
//   text-align: center;
//   background-color: white;
//   table-layout: auto;
// }

.container2.container {
  margin: 0 auto;
  padding: 0 auto;
  align-content: center;
  text-align: center;
  table-layout: auto;
}

.card {
  text-align: center;
}

thead {
  text-align: center;
}

.table {
  text-align: center;
  margin: 0 auto;
  padding: auto;
}

// input {
//   margin: 0 auto;
//   padding: 0 auto;
//   margin-left: 2rem;
// }

h1 {
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
}

.divst {
  margin: 0 auto;
  padding: 0 auto;
  align-items: center;
}

.button-custom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2vw;

}
